.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.stuff-left{
  position: absolute;
  left: 20px;
  text-align: left;
  flex-direction: column;
  gap: 10px;
  display: flex;
}

.morestuff{
  position: absolute;
  text-align: right;
  right:20px;
}

body {
  background-color: darkblue;
  color: #00ff7f;
}

button {
  background-color: #00FF7F;
  color: darkblue;
}

.reset-button{
  background-color: orangered;
  color: #FFFFFF;
}
.graphic{
position: right;
  width: 100%;

}

.Bar{
  position: center;
}
.graph{
  position: center;
}